/*Pour les sliders*/
.slidertransparence {
width: 20%;
position: absolute;
top: 0px;
right: 25%;
}

.slider {
-webkit-appearance: none;
width: 48%;
height: 5px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
background: #7ce6ee;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 20px;
height: 20px;
background: #7ce6ee;
cursor: pointer;
}

